

.card{
  border: 1px solid #EB5757;
  border-radius: 5px;


}

.card__title{
  color: #ffffff;
  background-color: rgba(235, 87, 87, 0.6);
  position: absolute;
  padding: 20px;
  width: 100%;
  text-align: center;

  bottom: 0;
}

.card__info{
  font-size: 14px;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.card_ImageETitulo{
  position: relative;
  width: 100%;

  height: 300px;
}

.card_image{
  height: 100%;
}