$red: #EB5757;

.card{
  border: 1px solid $red;
  border-radius: 5px;

  padding: 8px;
  margin: 8px;
}

.card__title{
  color: $red;
}

.card__info{
  font-size: 14px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  span{
    display: flex;
    align-items: center;

    gap: 8px;
  }
}