.header{
  padding: 72px;

  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 8px;

  border-bottom: .5px solid black;
}

.header__text{
  display: flex;
  flex-direction: column;

  text-align: right;
}

.header__title{
  font-size: 32px;
}